Repository oalfredojr/finance-dashboard-api: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx}": ["npx eslint --fix"],
    "*.{js,jsx,json,css,md}": ["npx prettier --write"]
}

fix: update ESLint config for Jest globals
  eslint.config.js
Due: npx eslint --fix, npx prettier --write

fix: critical security vulnerabilities and improve code quality
  .env.example
  babel.config.cjs
  index.js
  package-lock.json
  package.json
  src/__tests__/auth-middleware.test.js
  src/__tests__/delete-transaction.test.js
  src/__tests__/get-dashboard-summary.test.js
  src/__tests__/get-transactions.test.js
  src/__tests__/get-user-by-id.test.js
  src/__tests__/update-transaction.test.js
  src/__tests__/update-user.test.js
  src/controllers/delete-transaction.js
  src/controllers/get-dashboard-summary.js
  src/controllers/get-transactions.js
  src/controllers/get-user-by-id.js
  src/controllers/update-transaction.js
  src/controllers/update-user.js
  src/db/postgres/migrations/02-add-timestamps.sql
  src/helpers/logger.js
  src/middlewares/auth.js
  src/middlewares/rate-limit.js
  src/repositories/postgres/get-transactions.js
  src/routes/auth.js
  src/routes/transactions.js
  src/routes/users.js
  src/use-cases/create-user.js
  src/use-cases/delete-transaction.js
  src/use-cases/update-transaction.js
Due: npx eslint --fix, npx prettier --write

fix: code quality improvements and bug fixes
  src/__tests__/create-user.test.js
  src/__tests__/health.test.js
  src/__tests__/update-user.test.js
  src/controllers/create-user.js
  src/controllers/update-user.js
  src/errors/user.js
  src/helpers/http-helper.js
  src/use-cases/create-user.js
  src/use-cases/update-user.js
Due: npx eslint --fix, npx prettier --write

fix(api): correct error handler signature; prevent password leakage; enforce transaction ownership; remove redundant POST /api/users; sanitize user responses
  index.js
  src/__tests__/get-user-by-id.test.js
  src/controllers/create-transaction.js
  src/controllers/create-user.js
  src/controllers/get-user-by-id.js
  src/controllers/update-user.js
  src/helpers/http-helper.js
  src/routes/users.js
Due: npx eslint --fix, npx prettier --write

fix(use-case): validate user existence in CreateTransaction; map 'User not found' to 404; add unit tests
  src/__tests__/create-transaction-usecase.test.js
  src/controllers/create-transaction.js
  src/use-cases/create-transaction.js
Due: npx eslint --fix, npx prettier --write

Relax auth rate limiter for development; include combined.log
  src/middlewares/rate-limit.js
Due: npx eslint --fix, npx prettier --write

Relax auth rate limiter for development; include combined.log
  combined.log
  src/middlewares/rate-limit.js
Due: npx eslint --fix, npx prettier --write

Remove combined.log from repo and ignore log files
  .gitignore
Due: none

Remove combined.log from repo and ignore log files
  .gitignore
  combined.log
Due: none

security: harden auth, logs, and env validation
  .env.example
  index.js
  src/__tests__/auth-middleware.test.js
  src/__tests__/health.test.js
  src/__tests__/logger-security.test.js
  src/controllers/create-transaction.js
  src/controllers/create-user.js
  src/controllers/delete-transaction.js
  src/controllers/get-dashboard-summary.js
  src/controllers/get-transactions.js
  src/controllers/get-user-by-id.js
  src/controllers/login.js
  src/controllers/update-transaction.js
  src/controllers/update-user.js
  src/db/postgres/helper.js
  src/db/postgres/migrations/exec.js
  src/helpers/http-helper.js
  src/helpers/logger.js
  src/middlewares/auth.js
  src/middlewares/rate-limit.js
  src/routes/users.js
Due: npx eslint --fix, npx prettier --write

Update README.md
  README.md
Due: npx prettier --write

fix: restore Express error handler signature
  index.js
Due: npx eslint --fix, npx prettier --write

feat: restrict CORS and add production start script
  .env.example
  README.md
  index.js
  package.json
  src/__tests__/cors-options.test.js
  src/helpers/cors-options.js
Due: npx eslint --fix, npx prettier --write
